.para{
    display:block !important;
    margin-top:6px !important;
    background-image:url('../images/list.png') !important;
    background-repeat:no-repeat !important;
    background-position:left 2px !important;
    padding-left:15px !important;
}

.entry{
    display:block !important;
    margin-bottom:0 !important;
    /*font-family: "Lucida Grande", "Lucida Sans Unicode", "DejaVuSans",*/
                 /*Lucida, Arial, Helvetica, sans-serif !important;*/
    font-family: inherit !important;
    font-size:14px !important;
    color:#000 !important;
}

/*dark blue*/
.cf, .cc {
    font-family: inherit !important;
}

.sd {
    font-family: inherit !important;
}

.unbox .title {
    font-family: inherit !important;
}

/*see also*/
.z_xr {
    font-family: inherit !important;
}

.ei-g .sound:hover, 
.if-g .sound:hover {
    border: 1px solid #c6c6c6 !important;
    border-radius: 2px !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) !important;
    background-image:url('../images/sound2.png') !important;
}

.webtop-g .sound,.top-g .sound,.ei-g .sound,.if-g .sound{
    border: 1px solid transparent !important;
    padding: 2px !important;
    vertical-align:middle !important;
    display:inline !important;
    margin:0 5px !important;
    background-image:url('../images/sound.png') !important;
    background-repeat:no-repeat !important;
    background-size: 16px 16px !important;
    background-position: center !important;
    line-height:12px;font-size:14px !important;
}

.h,.h2,.he{
    display:inline !important;
    font-size:18pt !important;
    font-weight:bold !important;
    color:#33333f !important;
    margin-bottom:5px !important;
    margin-right:10px !important;
    padding-right:10px !important;
}

.top-container{
    border-bottom-width:2px !important;
    border-bottom-style:solid !important;
    border-bottom-color:#b3b3b3 !important;
    padding-top:5px !important;
    margin-top:0 !important;
    margin-right:0 !important;
    margin-bottom:10px !important;
    margin-left:0 !important;
    clear:both !important;
}

.unbox {
  background-color: #eeeeee !important;
  border-top-color: #b3b3b3 !important;
  border-bottom-color: #b3b3b3 !important;
}

.title {
  background-color: #dddddd !important;
}

.xr-g {
    background-image: url('../images/xref-arrow.png') !important;
}

.xh {
    color: #835252 !important;
    font-variant: normal !important;
}

.help {
  background-color: #ececec !important;
  border-top-width: 0 !important;
  border-bottom-width: 0 !important;
  box-shadow: 0px 1px 4px rgb(170, 170, 170);
}

.id-g {
  border-bottom-color: #BCBAF1 !important;
}

.pv-g {
  border-bottom-color: #A2C6C7 !important;
}

.h-g .d {
  display: inline !important;
}

.z_n {
  font-size: 16px !important;
  font-weight: normal !important;
}

.hs {
  color: #707070 !important;
}
