div#relatedentries{
    width:190px;
    margin-bottom:0;
    padding:0 0 10px 0;
    border-width:0;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    background: -webkit-gradient(linear, left top, right top, 
                from(#f2f2f2),
                color-stop(50%, #dedede), 
                to(#f2f2f2)) !important;
    background: -moz-linear-gradient(left, #f2f2f2 0%,  #dedede 50%, 
                #f2f2f2 100%) !important;
    background: linear-gradient(to right, #f2f2f2 0%, #dedede 50%,
                #f2f2f2 100%) !important;
}
.relatedentries ul li,#relatedentries ul li{
    list-style-image:none;
    background-image:url("../images/list.png");
    background-repeat:no-repeat;
    background-position:left 2px;
    list-style-type:none;
    list-style-position:outside;
    text-align:left;
    text-indent:0;
    line-height:18px;
    margin-left:-15px;
    padding-top:0;
    padding-right:0;
    padding-bottom:0;
    padding-left:15px;
}

#relatedentries ul .currentpage{
    background-color: white;
    background-image: none;
    font-weight:bold;
    color:#000;
    margin-right:15px;
    margin-left:-30px;
    margin-bottom:5px;
    padding-right:18px;
    margin-top:10px;
    line-height:24px;
}
#relatedentries ul a{
    color: #000;
}
.relatedentries{
    max-height:200px;
    text-align: left;
    color:#8f0610;
    line-height:1.25;
}
.relatedentries ul{
    margin:0;
    padding:0 0 0 10px;
}
.relatedentries a{
    color:#000;
}
#resulthead{
    background-image: -webkit-linear-gradient(top, #ccc, #eee);
    background-image: -moz-linear-gradient(top, #ccc, #eee);
    height:20px;
    font-size:13px;
    color: #4a4a4a;
    font-weight:bold;
    font-family:Myriad,Arial,Helvetica,sans-serif;
    padding:9px 0 0 9px;
    margin:0;
    text-align:center;
    text-indent:0;}
.currentpage a .pos{
    font-weight:normal;
}
#relatedentries ul{
    margin:0;
    padding-top:0;
    padding-right:0;
    padding-bottom:0;
    padding-left:40px;
}
