
#definition {
    margin: 10px auto;
    width: 870px;
}

#definition .related {
    position: absolute;
    width: 190px;
}

#definition .content {
    position: relative;
    left: 210px;
    width: 660px;
    overflow: hidden;
}

#definition .padding {
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
}

#definition .content a:not([href^='/dictionary']) {
    display: none;
}

.back {
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 48px;
    height: 48px;
    border: 1px solid #ccc;
    border-radius: 100px;
    background-color: #f6f6f6;
    background-image: url('/static/images/search.svg');
    background-repeat: no-repeat;
    background-size: 32px 32px; 
    background-position: center;
    -webkit-transition-property: box-shadow, background-color;
    -webkit-transition-duration: 0.5s, 0.3s;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

.back:hover {
    box-shadow: 0 0 15px 1px rgba(49, 49, 49, 0.5);
    background-color: #e8e8e8;
}

.welcome {
    font-size: 10em;
    font-family: OpenSans;
    font-weight: normal;
    color: #5c5c5c;
}
